* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
/*poner min-height con js*/
main{
    min-height: 1000px;
}
.blanco {
    color: white;
}
.gris-claro {
    background-color: lightgrey;
    font-weight: bold;
}

.gris-titulo {
    background-color: grey;
    text-align: center;
    color: white;
}

.azul-cielo {
    background-color: lightskyblue;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    padding: 10px;
}

.enlinea {
    display: inline;
    padding: 0px 20px;
}

ul {
    list-style-type: none;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}
.separacion{
    margin-top:  5px;
    margin-bottom: 10px;
}
.navbar-dark .navbar-brand{
    color: #007bff;
}
#botonSesion{
    background-color: unset;
    color: #007bff;
}